[Unit]
Description=Dank Material Shell (DMS)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=%h/.config/dank-shell/core/bin/dms run --session --config %h/.config/dank-shell/quickshell
ExecReload=/bin/kill -USR1 $MAINPID
LimitNOFILE=16384:infinity
Restart=on-failure
RestartForceExitStatus=TEMPFAIL
SuccessExitStatus=TEMPFAIL
RestartSec=1.23
TimeoutStartSec=90s
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target
